
<div class="container">
<h1>ToDo Index</h1><br>

<%= link_to "Ingresar un nuevo ToDo", todos_new_path, :class => "h4 btn btn-info" %><br><br>


<% @todos.each do |todo| %>
	<div class="card">

		<div class="col-10">Descripción: <%= todo.description%> <%= link_to "Ver ToDo", todo, :class => "btn btn-light ml-3" %> <%= link_to "Editar ToDo", edit_todo_path(todo), :class => "btn btn-info ml-3" %> <%= link_to "Borrar ToDo", todo, method: :delete, :class => "btn btn-dark ml-3" %></div>
		<div class="col-8">Completed: <%= todo.completed %></div>
	
	</div>
<% end %>
</div>